<div class="row">
    <div class="col-xs-12">
        
        <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
        <div *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
            <!-- <img src="https://content.presentermedia.com/content/animsp/00016000/16208/chef_cooking_with_pan_300_wht.gif" class="loader" alt=""/> -->
        </div>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" *ngIf="!isLoading" >
            <div class="form-group">
                <label for="email">E-mail</label>
                <input 
                    type="text" 
                    name="email" 
                    id="email" 
                    class="form-control"
                    autocomplete="on"  
                    required 
                    email
                    ngModel
                    size="50%"
                    >
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                    type="password" 
                    name="password" 
                    id="password" 
                    class="form-control" 
                    autocomplete="no-thing"
                    ngModel
                    required
                    minlength="6"
                    >
            </div>
            <div>
                <button class="btn btn-primary" type="submit" [disabled]="!form.valid" >
                    {{isloginMode? 'LogIn':'SignUp'}}
                </button> &nbsp;
                <button class="btn btn-success" (click)="onSwitchMode()" type="button">
                    Switch to {{isloginMode ? 'SignUp':'LogIn'}}
                </button>
            </div>
        </form>
    </div>
</div>