<!-- <p>recipes-list works!</p> -->
<div class="raw">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewrecipe()"> New Recipe</button>
        <button class="btn btn-warning" [ngStyle]="{'margin-left':'15px'}" (click)="onFetchData()"> Fetch Data</button>
        <button class="btn btn-primary" [ngStyle]="{'margin-left':'15px'}" (click)="onSaveData()"> Save Data</button> 
    </div>
</div>
<hr>
<hr>
<hr>
<div class="raw">
    <div class="col-xs-12">
        <!-- <img *ngIf="imgloader" style="margin-top:50px" src="https://content.presentermedia.com/content/animsp/00016000/16208/chef_cooking_with_pan_300_wht.gif" alt=""> -->
        <app-recipes-item  *ngFor="let recipeEl of recipes; let i = index" [recipe]="recipeEl" [index]="i">
        </app-recipes-item>
    </div>
</div>