
<div class="row">
    <div class="col-xs-12">
        <div class="container">
            <img src="{{recipe.imagepath}}" alt="#"
                [ngStyle]="{'box-shadow':'0px 0px 40px #cbced1','max-width':'400px','max-height':'200px'}">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary btn-outline" type="button" (click)="AddtoShoppinglist()"> To Shopping List</button>
        <button class="btn btn-warning btn-outline" [ngStyle]="{'margin-left':'15px'}" (click)="onEditrecipe()">Edit Recipe</button>
        <button class="btn btn-danger btn-outline" [ngStyle]="{'margin-left':'15px'}" (click)="onDeleterecipe()">Delete Recipe</button> 
        <!-- <div class="btn-group" appDropdown>
            <button class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li [ngStyle]="{'cursor':'pointer'}"><a (click)="AddtoShoppinglist()">To Shopping List</a></li>
                
                <li [ngStyle]="{'cursor':'pointer'}"><a (click)="onEditrecipe()">Edit Recipe</a></li>
                
                <li [ngStyle]="{'cursor':'pointer'}" (click)="onDeleterecipe()"><a>Delete Recipe</a></li>
            </ul>
        </div> -->
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group" [ngStyle]="{'box-shadow':'0px 0px 10px #cbced1'}">
            <li class="list-group-item" *ngFor="let inc of recipe.ingredients">
                {{inc.name}} - {{inc.price}}
            </li>
        </ul>
    </div>
</div>