<div [ngStyle]="{'box-shadow':'0px 0px 20px #cbced1'}">
    <a [routerLink]="[index]" routerLinkActive="active" class="list-group-item clearfix"
        [ngStyle]="{'cursor':'pointer'}">

        <div class="pull-left">
            <h4 class="list-group-item-heading"> {{recipe.name}}</h4>
            <p class="list-group-item-text">{{recipe.description}}</p>
        </div>
        <span class="pull-right">
            <img [src]="recipe.imagepath" alt="{{recipe.name}}" class="img-responsive"
                style="max-height: 50px;max-width: 50px;" />
        </span>
    </a>
</div>

<!-- [ngStyle]="{'box-shadow':'0px 0px 20px #cbced1'}" -->
<!-- <img height="50px" width="50px" src="https://content.presentermedia.com/content/animsp/00016000/16208/chef_cooking_with_pan_300_wht.gif" alt=""> -->